<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.seiei.saasaps.dao.ArgumentSettingMapper">
  <resultMap id="BaseResultMap" type="top.seiei.saasaps.bean.ArgumentSetting">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="after_minusOrChangeEfficiency_hasRemoveGapModel" jdbcType="BIT" property="afterMinusorchangeefficiencyHasremovegapmodel" />
    <result column="after_minus_hasAmend" jdbcType="BIT" property="afterMinusHasamend" />
    <result column="update_user_id" jdbcType="INTEGER" property="updateUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, after_minusOrChangeEfficiency_hasRemoveGapModel, after_minus_hasAmend, update_user_id, 
    create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ArgumentSetting
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ArgumentSetting
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="top.seiei.saasaps.bean.ArgumentSetting">
    insert into ArgumentSetting (id, after_minusOrChangeEfficiency_hasRemoveGapModel, 
      after_minus_hasAmend, update_user_id, create_time, 
      update_time)
    values (#{id,jdbcType=INTEGER}, #{afterMinusorchangeefficiencyHasremovegapmodel,jdbcType=BIT}, 
      #{afterMinusHasamend,jdbcType=BIT}, #{updateUserId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="top.seiei.saasaps.bean.ArgumentSetting">
    insert into ArgumentSetting
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="afterMinusorchangeefficiencyHasremovegapmodel != null">
        after_minusOrChangeEfficiency_hasRemoveGapModel,
      </if>
      <if test="afterMinusHasamend != null">
        after_minus_hasAmend,
      </if>
      <if test="updateUserId != null">
        update_user_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="afterMinusorchangeefficiencyHasremovegapmodel != null">
        #{afterMinusorchangeefficiencyHasremovegapmodel,jdbcType=BIT},
      </if>
      <if test="afterMinusHasamend != null">
        #{afterMinusHasamend,jdbcType=BIT},
      </if>
      <if test="updateUserId != null">
        #{updateUserId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="top.seiei.saasaps.bean.ArgumentSetting">
    update ArgumentSetting
    <set>
      <if test="afterMinusorchangeefficiencyHasremovegapmodel != null">
        after_minusOrChangeEfficiency_hasRemoveGapModel = #{afterMinusorchangeefficiencyHasremovegapmodel,jdbcType=BIT},
      </if>
      <if test="afterMinusHasamend != null">
        after_minus_hasAmend = #{afterMinusHasamend,jdbcType=BIT},
      </if>
      <if test="updateUserId != null">
        update_user_id = #{updateUserId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="top.seiei.saasaps.bean.ArgumentSetting">
    update ArgumentSetting
    set after_minusOrChangeEfficiency_hasRemoveGapModel = #{afterMinusorchangeefficiencyHasremovegapmodel,jdbcType=BIT},
      after_minus_hasAmend = #{afterMinusHasamend,jdbcType=BIT},
      update_user_id = #{updateUserId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="getAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from
    ArgumentSetting
  </select>
</mapper>