<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.seiei.saasaps.dao.ColorSettingMapper">
  <resultMap id="BaseResultMap" type="top.seiei.saasaps.bean.ColorSetting">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="default_color" jdbcType="VARCHAR" property="defaultColor" />
    <result column="default_delay_color" jdbcType="VARCHAR" property="defaultDelayColor" />
    <result column="default_advance_color" jdbcType="VARCHAR" property="defaultAdvanceColor" />
    <result column="advance_color" jdbcType="VARCHAR" property="advanceColor" />
    <result column="delay_color" jdbcType="VARCHAR" property="delayColor" />
    <result column="advance_daynum" jdbcType="INTEGER" property="advanceDaynum" />
    <result column="delay_daynum" jdbcType="INTEGER" property="delayDaynum" />
    <result column="unlock_color" jdbcType="VARCHAR" property="unlockColor" />
    <result column="selected_color" jdbcType="VARCHAR" property="selectedColor" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="update_user_id" jdbcType="INTEGER" property="updateUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, default_color, default_delay_color, default_advance_color, advance_color, delay_color, 
    advance_daynum, delay_daynum, unlock_color, selected_color, user_id, update_user_id, 
    create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ColorSetting
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ColorSetting
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="top.seiei.saasaps.bean.ColorSetting">
    insert into ColorSetting (id, default_color, default_delay_color, 
      default_advance_color, advance_color, delay_color, 
      advance_daynum, delay_daynum, unlock_color, 
      selected_color, user_id, update_user_id, 
      create_time, update_time)
    values (#{id,jdbcType=INTEGER}, #{defaultColor,jdbcType=VARCHAR}, #{defaultDelayColor,jdbcType=VARCHAR}, 
      #{defaultAdvanceColor,jdbcType=VARCHAR}, #{advanceColor,jdbcType=VARCHAR}, #{delayColor,jdbcType=VARCHAR}, 
      #{advanceDaynum,jdbcType=INTEGER}, #{delayDaynum,jdbcType=INTEGER}, #{unlockColor,jdbcType=VARCHAR}, 
      #{selectedColor,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER}, #{updateUserId,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="top.seiei.saasaps.bean.ColorSetting">
    insert into ColorSetting
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="defaultColor != null">
        default_color,
      </if>
      <if test="defaultDelayColor != null">
        default_delay_color,
      </if>
      <if test="defaultAdvanceColor != null">
        default_advance_color,
      </if>
      <if test="advanceColor != null">
        advance_color,
      </if>
      <if test="delayColor != null">
        delay_color,
      </if>
      <if test="advanceDaynum != null">
        advance_daynum,
      </if>
      <if test="delayDaynum != null">
        delay_daynum,
      </if>
      <if test="unlockColor != null">
        unlock_color,
      </if>
      <if test="selectedColor != null">
        selected_color,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="updateUserId != null">
        update_user_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="defaultColor != null">
        #{defaultColor,jdbcType=VARCHAR},
      </if>
      <if test="defaultDelayColor != null">
        #{defaultDelayColor,jdbcType=VARCHAR},
      </if>
      <if test="defaultAdvanceColor != null">
        #{defaultAdvanceColor,jdbcType=VARCHAR},
      </if>
      <if test="advanceColor != null">
        #{advanceColor,jdbcType=VARCHAR},
      </if>
      <if test="delayColor != null">
        #{delayColor,jdbcType=VARCHAR},
      </if>
      <if test="advanceDaynum != null">
        #{advanceDaynum,jdbcType=INTEGER},
      </if>
      <if test="delayDaynum != null">
        #{delayDaynum,jdbcType=INTEGER},
      </if>
      <if test="unlockColor != null">
        #{unlockColor,jdbcType=VARCHAR},
      </if>
      <if test="selectedColor != null">
        #{selectedColor,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="updateUserId != null">
        #{updateUserId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="top.seiei.saasaps.bean.ColorSetting">
    update ColorSetting
    <set>
      <if test="defaultColor != null">
        default_color = #{defaultColor,jdbcType=VARCHAR},
      </if>
      <if test="defaultDelayColor != null">
        default_delay_color = #{defaultDelayColor,jdbcType=VARCHAR},
      </if>
      <if test="defaultAdvanceColor != null">
        default_advance_color = #{defaultAdvanceColor,jdbcType=VARCHAR},
      </if>
      <if test="advanceColor != null">
        advance_color = #{advanceColor,jdbcType=VARCHAR},
      </if>
      <if test="delayColor != null">
        delay_color = #{delayColor,jdbcType=VARCHAR},
      </if>
      <if test="advanceDaynum != null">
        advance_daynum = #{advanceDaynum,jdbcType=INTEGER},
      </if>
      <if test="delayDaynum != null">
        delay_daynum = #{delayDaynum,jdbcType=INTEGER},
      </if>
      <if test="unlockColor != null">
        unlock_color = #{unlockColor,jdbcType=VARCHAR},
      </if>
      <if test="selectedColor != null">
        selected_color = #{selectedColor,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="updateUserId != null">
        update_user_id = #{updateUserId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="top.seiei.saasaps.bean.ColorSetting">
    update ColorSetting
    set default_color = #{defaultColor,jdbcType=VARCHAR},
      default_delay_color = #{defaultDelayColor,jdbcType=VARCHAR},
      default_advance_color = #{defaultAdvanceColor,jdbcType=VARCHAR},
      advance_color = #{advanceColor,jdbcType=VARCHAR},
      delay_color = #{delayColor,jdbcType=VARCHAR},
      advance_daynum = #{advanceDaynum,jdbcType=INTEGER},
      delay_daynum = #{delayDaynum,jdbcType=INTEGER},
      unlock_color = #{unlockColor,jdbcType=VARCHAR},
      selected_color = #{selectedColor,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER},
      update_user_id = #{updateUserId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByUserId" resultMap="BaseResultMap" parameterType="integer">
    select
    <include refid="Base_Column_List"/>
    from
    ColorSetting
    where
    user_id = #{userId}
  </select>
  <select id="selectDefault" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from
    ColorSetting
    where
    user_id is null
  </select>
</mapper>