<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.seiei.saasaps.dao.ProductionLineMapper">
  <resultMap id="BaseResultMap" type="top.seiei.saasaps.bean.ProductionLine">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="workgroup" jdbcType="VARCHAR" property="workgroup" />
    <result column="workshop" jdbcType="VARCHAR" property="workshop" />
    <result column="line_code" jdbcType="VARCHAR" property="lineCode" />
    <result column="default_style_name" jdbcType="VARCHAR" property="defaultStyleName" />
    <result column="people_num" jdbcType="INTEGER" property="peopleNum" />
    <result column="workhours" jdbcType="DECIMAL" property="workhours" />
    <result column="isInvalid" jdbcType="BIT" property="isinvalid" />
    <result column="update_user_id" jdbcType="INTEGER" property="updateUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, workgroup, workshop, line_code, default_style_name, people_num, workhours, isInvalid, 
    update_user_id, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ProductionLine
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ProductionLine
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="top.seiei.saasaps.bean.ProductionLine">
    insert into ProductionLine (id, workgroup, workshop, 
      line_code, default_style_name, people_num, 
      workhours, isInvalid, update_user_id, 
      create_time, update_time)
    values (#{id,jdbcType=INTEGER}, #{workgroup,jdbcType=VARCHAR}, #{workshop,jdbcType=VARCHAR}, 
      #{lineCode,jdbcType=VARCHAR}, #{defaultStyleName,jdbcType=VARCHAR}, #{peopleNum,jdbcType=INTEGER}, 
      #{workhours,jdbcType=DECIMAL}, #{isinvalid,jdbcType=BIT}, #{updateUserId,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="top.seiei.saasaps.bean.ProductionLine" useGeneratedKeys="true" keyProperty="id">
    insert into ProductionLine
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="workgroup != null">
        workgroup,
      </if>
      <if test="workshop != null">
        workshop,
      </if>
      <if test="lineCode != null">
        line_code,
      </if>
      <if test="defaultStyleName != null">
        default_style_name,
      </if>
      <if test="peopleNum != null">
        people_num,
      </if>
      <if test="workhours != null">
        workhours,
      </if>
      <if test="isinvalid != null">
        isInvalid,
      </if>
      <if test="updateUserId != null">
        update_user_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="workgroup != null">
        #{workgroup,jdbcType=VARCHAR},
      </if>
      <if test="workshop != null">
        #{workshop,jdbcType=VARCHAR},
      </if>
      <if test="lineCode != null">
        #{lineCode,jdbcType=VARCHAR},
      </if>
      <if test="defaultStyleName != null">
        #{defaultStyleName,jdbcType=VARCHAR},
      </if>
      <if test="peopleNum != null">
        #{peopleNum,jdbcType=INTEGER},
      </if>
      <if test="workhours != null">
        #{workhours,jdbcType=DECIMAL},
      </if>
      <if test="isinvalid != null">
        #{isinvalid,jdbcType=BIT},
      </if>
      <if test="updateUserId != null">
        #{updateUserId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="top.seiei.saasaps.bean.ProductionLine">
    update ProductionLine
    <set>
      <if test="workgroup != null">
        workgroup = #{workgroup,jdbcType=VARCHAR},
      </if>
      <if test="workshop != null">
        workshop = #{workshop,jdbcType=VARCHAR},
      </if>
      <if test="lineCode != null">
        line_code = #{lineCode,jdbcType=VARCHAR},
      </if>
      <if test="defaultStyleName != null">
        default_style_name = #{defaultStyleName,jdbcType=VARCHAR},
      </if>
      <if test="peopleNum != null">
        people_num = #{peopleNum,jdbcType=INTEGER},
      </if>
      <if test="workhours != null">
        workhours = #{workhours,jdbcType=DECIMAL},
      </if>
      <if test="isinvalid != null">
        isInvalid = #{isinvalid,jdbcType=BIT},
      </if>
      <if test="updateUserId != null">
        update_user_id = #{updateUserId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="top.seiei.saasaps.bean.ProductionLine">
    update ProductionLine
    set workgroup = #{workgroup,jdbcType=VARCHAR},
      workshop = #{workshop,jdbcType=VARCHAR},
      line_code = #{lineCode,jdbcType=VARCHAR},
      default_style_name = #{defaultStyleName,jdbcType=VARCHAR},
      people_num = #{peopleNum,jdbcType=INTEGER},
      workhours = #{workhours,jdbcType=DECIMAL},
      isInvalid = #{isinvalid,jdbcType=BIT},
      update_user_id = #{updateUserId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="getAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from
    productionline
    where isInvalid = '0'
  </select>
  <select id="selectByName" parameterType="map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from
    productionline
    where
    workgroup = #{workGroup}
    and
    workshop = #{workShop}
    and
    line_code = #{line}
    and
    isInvalid = '0'
  </select>
  <select id="selectByPrimaryKeyList" resultMap="BaseResultMap" parameterType="List">
    select
    <include refid="Base_Column_List"/>
    from
    productionline
    where
    isInvalid = '0'
    and
    id in
    <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
      #{item}
    </foreach>
    order by
    workgroup, workshop, line_code
  </select>
  <select id="selectCountByPrimaryKey" resultType="int" parameterType="integer">
    select
    count(1)
    from
    productionline
    where
    id = #{id}
    and
    isInvalid = '0'
  </select>
</mapper>