<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.seiei.saasaps.dao.ProductionPlanningDetailMapper">
  <resultMap id="BaseResultMap" type="top.seiei.saasaps.bean.ProductionPlanningDetail">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="summaryId" jdbcType="INTEGER" property="summaryid" />
    <result column="is_planning" jdbcType="BIT" property="isPlanning" />
    <result column="productionLineId" jdbcType="INTEGER" property="productionlineid" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="qty_finish" jdbcType="INTEGER" property="qtyFinish" />
    <result column="efficiency_by_setting" jdbcType="DECIMAL" property="efficiencyBySetting" />
    <result column="season" jdbcType="VARCHAR" property="season" />
    <result column="clientName" jdbcType="VARCHAR" property="clientname" />
    <result column="clientStyleNo" jdbcType="VARCHAR" property="clientstyleno" />
    <result column="orderNo" jdbcType="VARCHAR" property="orderno" />
    <result column="orderNum" jdbcType="INTEGER" property="ordernum" />
    <result column="orderKind" jdbcType="VARCHAR" property="orderkind" />
    <result column="styleNo" jdbcType="VARCHAR" property="styleno" />
    <result column="goodName" jdbcType="VARCHAR" property="goodname" />
    <result column="style" jdbcType="VARCHAR" property="style" />
    <result column="deliveryOfContract_time" jdbcType="TIMESTAMP" property="deliveryofcontractTime" />
    <result column="deliveryOfFactory_time" jdbcType="TIMESTAMP" property="deliveryoffactoryTime" />
    <result column="arriveWarehouse_time" jdbcType="TIMESTAMP" property="arrivewarehouseTime" />
    <result column="qtyOfBatchedDelivery" jdbcType="INTEGER" property="qtyofbatcheddelivery" />
    <result column="lining" jdbcType="VARCHAR" property="lining" />
    <result column="liningOfStitching_time" jdbcType="TIMESTAMP" property="liningofstitchingTime" />
    <result column="suppliesOfLining" jdbcType="VARCHAR" property="suppliesoflining" />
    <result column="cloth_time" jdbcType="TIMESTAMP" property="clothTime" />
    <result column="sam" jdbcType="DECIMAL" property="sam" />
    <result column="samOfLocal" jdbcType="DECIMAL" property="samoflocal" />
    <result column="sah" jdbcType="DECIMAL" property="sah" />
    <result column="approve_time" jdbcType="TIMESTAMP" property="approveTime" />
    <result column="embroider" jdbcType="VARCHAR" property="embroider" />
    <result column="embroider_dayNum" jdbcType="INTEGER" property="embroiderDaynum" />
    <result column="embroider_time" jdbcType="TIMESTAMP" property="embroiderTime" />
    <result column="factory_embroider" jdbcType="VARCHAR" property="factoryEmbroider" />
    <result column="factory_embroider2" jdbcType="VARCHAR" property="factoryEmbroider2" />
    <result column="printAfterembroider" jdbcType="VARCHAR" property="printafterembroider" />
    <result column="printAfterembroider_dayNum" jdbcType="INTEGER" property="printafterembroiderDaynum" />
    <result column="factory_print" jdbcType="VARCHAR" property="factoryPrint" />
    <result column="factory_print2" jdbcType="VARCHAR" property="factoryPrint2" />
    <result column="backPart_dayNum" jdbcType="INTEGER" property="backpartDaynum" />
    <result column="memo" jdbcType="VARCHAR" property="memo" />
    <result column="cuttingQty" jdbcType="INTEGER" property="cuttingqty" />
    <result column="is_finish_cutting" jdbcType="BIT" property="isFinishCutting" />
    <result column="advanceCutting_dayNum" jdbcType="INTEGER" property="advancecuttingDaynum" />
    <result column="sizes" jdbcType="VARCHAR" property="sizes" />
    <result column="color" jdbcType="VARCHAR" property="color" />
    <result column="update_user_id" jdbcType="INTEGER" property="updateUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, summaryId, is_planning, productionLineId, start_time, end_time, qty_finish, efficiency_by_setting, 
    season, clientName, clientStyleNo, orderNo, orderNum, orderKind, styleNo, goodName, 
    style, deliveryOfContract_time, deliveryOfFactory_time, arriveWarehouse_time, qtyOfBatchedDelivery, 
    lining, liningOfStitching_time, suppliesOfLining, cloth_time, sam, samOfLocal, sah, 
    approve_time, embroider, embroider_dayNum, embroider_time, factory_embroider, factory_embroider2, 
    printAfterembroider, printAfterembroider_dayNum, factory_print, factory_print2, backPart_dayNum, 
    memo, cuttingQty, is_finish_cutting, advanceCutting_dayNum, sizes, color, update_user_id, 
    create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ProductionPlanningDetail
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ProductionPlanningDetail
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="top.seiei.saasaps.bean.ProductionPlanningDetail">
    insert into ProductionPlanningDetail (id, summaryId, is_planning, 
      productionLineId, start_time, end_time, 
      qty_finish, efficiency_by_setting, season, 
      clientName, clientStyleNo, orderNo, 
      orderNum, orderKind, styleNo, 
      goodName, style, deliveryOfContract_time, 
      deliveryOfFactory_time, arriveWarehouse_time, 
      qtyOfBatchedDelivery, lining, liningOfStitching_time, 
      suppliesOfLining, cloth_time, sam, 
      samOfLocal, sah, approve_time, 
      embroider, embroider_dayNum, embroider_time, 
      factory_embroider, factory_embroider2, printAfterembroider, 
      printAfterembroider_dayNum, factory_print, 
      factory_print2, backPart_dayNum, memo, 
      cuttingQty, is_finish_cutting, advanceCutting_dayNum, 
      sizes, color, update_user_id, 
      create_time, update_time)
    values (#{id,jdbcType=INTEGER}, #{summaryid,jdbcType=INTEGER}, #{isPlanning,jdbcType=BIT}, 
      #{productionlineid,jdbcType=INTEGER}, #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, 
      #{qtyFinish,jdbcType=INTEGER}, #{efficiencyBySetting,jdbcType=DECIMAL}, #{season,jdbcType=VARCHAR}, 
      #{clientname,jdbcType=VARCHAR}, #{clientstyleno,jdbcType=VARCHAR}, #{orderno,jdbcType=VARCHAR}, 
      #{ordernum,jdbcType=INTEGER}, #{orderkind,jdbcType=VARCHAR}, #{styleno,jdbcType=VARCHAR}, 
      #{goodname,jdbcType=VARCHAR}, #{style,jdbcType=VARCHAR}, #{deliveryofcontractTime,jdbcType=TIMESTAMP}, 
      #{deliveryoffactoryTime,jdbcType=TIMESTAMP}, #{arrivewarehouseTime,jdbcType=TIMESTAMP}, 
      #{qtyofbatcheddelivery,jdbcType=INTEGER}, #{lining,jdbcType=VARCHAR}, #{liningofstitchingTime,jdbcType=TIMESTAMP}, 
      #{suppliesoflining,jdbcType=VARCHAR}, #{clothTime,jdbcType=TIMESTAMP}, #{sam,jdbcType=DECIMAL}, 
      #{samoflocal,jdbcType=DECIMAL}, #{sah,jdbcType=DECIMAL}, #{approveTime,jdbcType=TIMESTAMP}, 
      #{embroider,jdbcType=VARCHAR}, #{embroiderDaynum,jdbcType=INTEGER}, #{embroiderTime,jdbcType=TIMESTAMP}, 
      #{factoryEmbroider,jdbcType=VARCHAR}, #{factoryEmbroider2,jdbcType=VARCHAR}, #{printafterembroider,jdbcType=VARCHAR}, 
      #{printafterembroiderDaynum,jdbcType=INTEGER}, #{factoryPrint,jdbcType=VARCHAR}, 
      #{factoryPrint2,jdbcType=VARCHAR}, #{backpartDaynum,jdbcType=INTEGER}, #{memo,jdbcType=VARCHAR}, 
      #{cuttingqty,jdbcType=INTEGER}, #{isFinishCutting,jdbcType=BIT}, #{advancecuttingDaynum,jdbcType=INTEGER}, 
      #{sizes,jdbcType=VARCHAR}, #{color,jdbcType=VARCHAR}, #{updateUserId,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="top.seiei.saasaps.bean.ProductionPlanningDetail">
    insert into ProductionPlanningDetail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="summaryid != null">
        summaryId,
      </if>
      <if test="isPlanning != null">
        is_planning,
      </if>
      <if test="productionlineid != null">
        productionLineId,
      </if>
      <if test="startTime != null">
        start_time,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="qtyFinish != null">
        qty_finish,
      </if>
      <if test="efficiencyBySetting != null">
        efficiency_by_setting,
      </if>
      <if test="season != null">
        season,
      </if>
      <if test="clientname != null">
        clientName,
      </if>
      <if test="clientstyleno != null">
        clientStyleNo,
      </if>
      <if test="orderno != null">
        orderNo,
      </if>
      <if test="ordernum != null">
        orderNum,
      </if>
      <if test="orderkind != null">
        orderKind,
      </if>
      <if test="styleno != null">
        styleNo,
      </if>
      <if test="goodname != null">
        goodName,
      </if>
      <if test="style != null">
        style,
      </if>
      <if test="deliveryofcontractTime != null">
        deliveryOfContract_time,
      </if>
      <if test="deliveryoffactoryTime != null">
        deliveryOfFactory_time,
      </if>
      <if test="arrivewarehouseTime != null">
        arriveWarehouse_time,
      </if>
      <if test="qtyofbatcheddelivery != null">
        qtyOfBatchedDelivery,
      </if>
      <if test="lining != null">
        lining,
      </if>
      <if test="liningofstitchingTime != null">
        liningOfStitching_time,
      </if>
      <if test="suppliesoflining != null">
        suppliesOfLining,
      </if>
      <if test="clothTime != null">
        cloth_time,
      </if>
      <if test="sam != null">
        sam,
      </if>
      <if test="samoflocal != null">
        samOfLocal,
      </if>
      <if test="sah != null">
        sah,
      </if>
      <if test="approveTime != null">
        approve_time,
      </if>
      <if test="embroider != null">
        embroider,
      </if>
      <if test="embroiderDaynum != null">
        embroider_dayNum,
      </if>
      <if test="embroiderTime != null">
        embroider_time,
      </if>
      <if test="factoryEmbroider != null">
        factory_embroider,
      </if>
      <if test="factoryEmbroider2 != null">
        factory_embroider2,
      </if>
      <if test="printafterembroider != null">
        printAfterembroider,
      </if>
      <if test="printafterembroiderDaynum != null">
        printAfterembroider_dayNum,
      </if>
      <if test="factoryPrint != null">
        factory_print,
      </if>
      <if test="factoryPrint2 != null">
        factory_print2,
      </if>
      <if test="backpartDaynum != null">
        backPart_dayNum,
      </if>
      <if test="memo != null">
        memo,
      </if>
      <if test="cuttingqty != null">
        cuttingQty,
      </if>
      <if test="isFinishCutting != null">
        is_finish_cutting,
      </if>
      <if test="advancecuttingDaynum != null">
        advanceCutting_dayNum,
      </if>
      <if test="sizes != null">
        sizes,
      </if>
      <if test="color != null">
        color,
      </if>
      <if test="updateUserId != null">
        update_user_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="summaryid != null">
        #{summaryid,jdbcType=INTEGER},
      </if>
      <if test="isPlanning != null">
        #{isPlanning,jdbcType=BIT},
      </if>
      <if test="productionlineid != null">
        #{productionlineid,jdbcType=INTEGER},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="qtyFinish != null">
        #{qtyFinish,jdbcType=INTEGER},
      </if>
      <if test="efficiencyBySetting != null">
        #{efficiencyBySetting,jdbcType=DECIMAL},
      </if>
      <if test="season != null">
        #{season,jdbcType=VARCHAR},
      </if>
      <if test="clientname != null">
        #{clientname,jdbcType=VARCHAR},
      </if>
      <if test="clientstyleno != null">
        #{clientstyleno,jdbcType=VARCHAR},
      </if>
      <if test="orderno != null">
        #{orderno,jdbcType=VARCHAR},
      </if>
      <if test="ordernum != null">
        #{ordernum,jdbcType=INTEGER},
      </if>
      <if test="orderkind != null">
        #{orderkind,jdbcType=VARCHAR},
      </if>
      <if test="styleno != null">
        #{styleno,jdbcType=VARCHAR},
      </if>
      <if test="goodname != null">
        #{goodname,jdbcType=VARCHAR},
      </if>
      <if test="style != null">
        #{style,jdbcType=VARCHAR},
      </if>
      <if test="deliveryofcontractTime != null">
        #{deliveryofcontractTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deliveryoffactoryTime != null">
        #{deliveryoffactoryTime,jdbcType=TIMESTAMP},
      </if>
      <if test="arrivewarehouseTime != null">
        #{arrivewarehouseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="qtyofbatcheddelivery != null">
        #{qtyofbatcheddelivery,jdbcType=INTEGER},
      </if>
      <if test="lining != null">
        #{lining,jdbcType=VARCHAR},
      </if>
      <if test="liningofstitchingTime != null">
        #{liningofstitchingTime,jdbcType=TIMESTAMP},
      </if>
      <if test="suppliesoflining != null">
        #{suppliesoflining,jdbcType=VARCHAR},
      </if>
      <if test="clothTime != null">
        #{clothTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sam != null">
        #{sam,jdbcType=DECIMAL},
      </if>
      <if test="samoflocal != null">
        #{samoflocal,jdbcType=DECIMAL},
      </if>
      <if test="sah != null">
        #{sah,jdbcType=DECIMAL},
      </if>
      <if test="approveTime != null">
        #{approveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="embroider != null">
        #{embroider,jdbcType=VARCHAR},
      </if>
      <if test="embroiderDaynum != null">
        #{embroiderDaynum,jdbcType=INTEGER},
      </if>
      <if test="embroiderTime != null">
        #{embroiderTime,jdbcType=TIMESTAMP},
      </if>
      <if test="factoryEmbroider != null">
        #{factoryEmbroider,jdbcType=VARCHAR},
      </if>
      <if test="factoryEmbroider2 != null">
        #{factoryEmbroider2,jdbcType=VARCHAR},
      </if>
      <if test="printafterembroider != null">
        #{printafterembroider,jdbcType=VARCHAR},
      </if>
      <if test="printafterembroiderDaynum != null">
        #{printafterembroiderDaynum,jdbcType=INTEGER},
      </if>
      <if test="factoryPrint != null">
        #{factoryPrint,jdbcType=VARCHAR},
      </if>
      <if test="factoryPrint2 != null">
        #{factoryPrint2,jdbcType=VARCHAR},
      </if>
      <if test="backpartDaynum != null">
        #{backpartDaynum,jdbcType=INTEGER},
      </if>
      <if test="memo != null">
        #{memo,jdbcType=VARCHAR},
      </if>
      <if test="cuttingqty != null">
        #{cuttingqty,jdbcType=INTEGER},
      </if>
      <if test="isFinishCutting != null">
        #{isFinishCutting,jdbcType=BIT},
      </if>
      <if test="advancecuttingDaynum != null">
        #{advancecuttingDaynum,jdbcType=INTEGER},
      </if>
      <if test="sizes != null">
        #{sizes,jdbcType=VARCHAR},
      </if>
      <if test="color != null">
        #{color,jdbcType=VARCHAR},
      </if>
      <if test="updateUserId != null">
        #{updateUserId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="top.seiei.saasaps.bean.ProductionPlanningDetail">
    update ProductionPlanningDetail
    <set>
      <if test="summaryid != null">
        summaryId = #{summaryid,jdbcType=INTEGER},
      </if>
      <if test="isPlanning != null">
        is_planning = #{isPlanning,jdbcType=BIT},
      </if>
      <if test="productionlineid != null">
        productionLineId = #{productionlineid,jdbcType=INTEGER},
      </if>
      <if test="startTime != null">
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="qtyFinish != null">
        qty_finish = #{qtyFinish,jdbcType=INTEGER},
      </if>
      <if test="efficiencyBySetting != null">
        efficiency_by_setting = #{efficiencyBySetting,jdbcType=DECIMAL},
      </if>
      <if test="season != null">
        season = #{season,jdbcType=VARCHAR},
      </if>
      <if test="clientname != null">
        clientName = #{clientname,jdbcType=VARCHAR},
      </if>
      <if test="clientstyleno != null">
        clientStyleNo = #{clientstyleno,jdbcType=VARCHAR},
      </if>
      <if test="orderno != null">
        orderNo = #{orderno,jdbcType=VARCHAR},
      </if>
      <if test="ordernum != null">
        orderNum = #{ordernum,jdbcType=INTEGER},
      </if>
      <if test="orderkind != null">
        orderKind = #{orderkind,jdbcType=VARCHAR},
      </if>
      <if test="styleno != null">
        styleNo = #{styleno,jdbcType=VARCHAR},
      </if>
      <if test="goodname != null">
        goodName = #{goodname,jdbcType=VARCHAR},
      </if>
      <if test="style != null">
        style = #{style,jdbcType=VARCHAR},
      </if>
      <if test="deliveryofcontractTime != null">
        deliveryOfContract_time = #{deliveryofcontractTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deliveryoffactoryTime != null">
        deliveryOfFactory_time = #{deliveryoffactoryTime,jdbcType=TIMESTAMP},
      </if>
      <if test="arrivewarehouseTime != null">
        arriveWarehouse_time = #{arrivewarehouseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="qtyofbatcheddelivery != null">
        qtyOfBatchedDelivery = #{qtyofbatcheddelivery,jdbcType=INTEGER},
      </if>
      <if test="lining != null">
        lining = #{lining,jdbcType=VARCHAR},
      </if>
      <if test="liningofstitchingTime != null">
        liningOfStitching_time = #{liningofstitchingTime,jdbcType=TIMESTAMP},
      </if>
      <if test="suppliesoflining != null">
        suppliesOfLining = #{suppliesoflining,jdbcType=VARCHAR},
      </if>
      <if test="clothTime != null">
        cloth_time = #{clothTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sam != null">
        sam = #{sam,jdbcType=DECIMAL},
      </if>
      <if test="samoflocal != null">
        samOfLocal = #{samoflocal,jdbcType=DECIMAL},
      </if>
      <if test="sah != null">
        sah = #{sah,jdbcType=DECIMAL},
      </if>
      <if test="approveTime != null">
        approve_time = #{approveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="embroider != null">
        embroider = #{embroider,jdbcType=VARCHAR},
      </if>
      <if test="embroiderDaynum != null">
        embroider_dayNum = #{embroiderDaynum,jdbcType=INTEGER},
      </if>
      <if test="embroiderTime != null">
        embroider_time = #{embroiderTime,jdbcType=TIMESTAMP},
      </if>
      <if test="factoryEmbroider != null">
        factory_embroider = #{factoryEmbroider,jdbcType=VARCHAR},
      </if>
      <if test="factoryEmbroider2 != null">
        factory_embroider2 = #{factoryEmbroider2,jdbcType=VARCHAR},
      </if>
      <if test="printafterembroider != null">
        printAfterembroider = #{printafterembroider,jdbcType=VARCHAR},
      </if>
      <if test="printafterembroiderDaynum != null">
        printAfterembroider_dayNum = #{printafterembroiderDaynum,jdbcType=INTEGER},
      </if>
      <if test="factoryPrint != null">
        factory_print = #{factoryPrint,jdbcType=VARCHAR},
      </if>
      <if test="factoryPrint2 != null">
        factory_print2 = #{factoryPrint2,jdbcType=VARCHAR},
      </if>
      <if test="backpartDaynum != null">
        backPart_dayNum = #{backpartDaynum,jdbcType=INTEGER},
      </if>
      <if test="memo != null">
        memo = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="cuttingqty != null">
        cuttingQty = #{cuttingqty,jdbcType=INTEGER},
      </if>
      <if test="isFinishCutting != null">
        is_finish_cutting = #{isFinishCutting,jdbcType=BIT},
      </if>
      <if test="advancecuttingDaynum != null">
        advanceCutting_dayNum = #{advancecuttingDaynum,jdbcType=INTEGER},
      </if>
      <if test="sizes != null">
        sizes = #{sizes,jdbcType=VARCHAR},
      </if>
      <if test="color != null">
        color = #{color,jdbcType=VARCHAR},
      </if>
      <if test="updateUserId != null">
        update_user_id = #{updateUserId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="top.seiei.saasaps.bean.ProductionPlanningDetail">
    update ProductionPlanningDetail
    set summaryId = #{summaryid,jdbcType=INTEGER},
      is_planning = #{isPlanning,jdbcType=BIT},
      productionLineId = #{productionlineid,jdbcType=INTEGER},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      qty_finish = #{qtyFinish,jdbcType=INTEGER},
      efficiency_by_setting = #{efficiencyBySetting,jdbcType=DECIMAL},
      season = #{season,jdbcType=VARCHAR},
      clientName = #{clientname,jdbcType=VARCHAR},
      clientStyleNo = #{clientstyleno,jdbcType=VARCHAR},
      orderNo = #{orderno,jdbcType=VARCHAR},
      orderNum = #{ordernum,jdbcType=INTEGER},
      orderKind = #{orderkind,jdbcType=VARCHAR},
      styleNo = #{styleno,jdbcType=VARCHAR},
      goodName = #{goodname,jdbcType=VARCHAR},
      style = #{style,jdbcType=VARCHAR},
      deliveryOfContract_time = #{deliveryofcontractTime,jdbcType=TIMESTAMP},
      deliveryOfFactory_time = #{deliveryoffactoryTime,jdbcType=TIMESTAMP},
      arriveWarehouse_time = #{arrivewarehouseTime,jdbcType=TIMESTAMP},
      qtyOfBatchedDelivery = #{qtyofbatcheddelivery,jdbcType=INTEGER},
      lining = #{lining,jdbcType=VARCHAR},
      liningOfStitching_time = #{liningofstitchingTime,jdbcType=TIMESTAMP},
      suppliesOfLining = #{suppliesoflining,jdbcType=VARCHAR},
      cloth_time = #{clothTime,jdbcType=TIMESTAMP},
      sam = #{sam,jdbcType=DECIMAL},
      samOfLocal = #{samoflocal,jdbcType=DECIMAL},
      sah = #{sah,jdbcType=DECIMAL},
      approve_time = #{approveTime,jdbcType=TIMESTAMP},
      embroider = #{embroider,jdbcType=VARCHAR},
      embroider_dayNum = #{embroiderDaynum,jdbcType=INTEGER},
      embroider_time = #{embroiderTime,jdbcType=TIMESTAMP},
      factory_embroider = #{factoryEmbroider,jdbcType=VARCHAR},
      factory_embroider2 = #{factoryEmbroider2,jdbcType=VARCHAR},
      printAfterembroider = #{printafterembroider,jdbcType=VARCHAR},
      printAfterembroider_dayNum = #{printafterembroiderDaynum,jdbcType=INTEGER},
      factory_print = #{factoryPrint,jdbcType=VARCHAR},
      factory_print2 = #{factoryPrint2,jdbcType=VARCHAR},
      backPart_dayNum = #{backpartDaynum,jdbcType=INTEGER},
      memo = #{memo,jdbcType=VARCHAR},
      cuttingQty = #{cuttingqty,jdbcType=INTEGER},
      is_finish_cutting = #{isFinishCutting,jdbcType=BIT},
      advanceCutting_dayNum = #{advancecuttingDaynum,jdbcType=INTEGER},
      sizes = #{sizes,jdbcType=VARCHAR},
      color = #{color,jdbcType=VARCHAR},
      update_user_id = #{updateUserId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectBySummaryId" resultMap="BaseResultMap" parameterType="integer">
    select
    <include refid="Base_Column_List"/>
    from
    ProductionPlanningDetail
    where
    summaryId = #{id}
  </select>
  <delete id="deleteBySummaryId" parameterType="integer">
    delete from ProductionPlanningDetail
    where summaryId = #{id,jdbcType=INTEGER}
  </delete>
  <select id="selectByLineIdAndTime" parameterType="map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from
    ProductionPlanningDetail
    where
    productionLineId = #{id}
    and
    (start_time &gt;= #{time} or end_time &gt; #{time})
    and
    is_planning = '1'
    and
    goodName
    in
    (select name from ProductClass)
    order by
    start_time
  </select>
  <select id="selectAllForAddProgress" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from
    ProductionPlanningDetail
    where
    is_planning = '0'
    and
    GETDATE() &lt; deliveryOfFactory_time
    order by
    deliveryOfFactory_time
  </select>
</mapper>