<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.seiei.saasaps.dao.ProductionPlanningDetailMapper">
  <resultMap id="BaseResultMap" type="top.seiei.saasaps.bean.ProductionPlanningDetail">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="is_to_do" jdbcType="BIT" property="isToDo" />
    <result column="production_planning_id" jdbcType="INTEGER" property="productionPlanningId" />
    <result column="production_line_id" jdbcType="INTEGER" property="productionLineId" />
    <result column="custname" jdbcType="VARCHAR" property="custname" />
    <result column="good_name" jdbcType="VARCHAR" property="goodName" />
    <result column="ordernum" jdbcType="VARCHAR" property="ordernum" />
    <result column="season" jdbcType="VARCHAR" property="season" />
    <result column="color" jdbcType="VARCHAR" property="color" />
    <result column="qty_plan" jdbcType="INTEGER" property="qtyPlan" />
    <result column="qty_finish" jdbcType="INTEGER" property="qtyFinish" />
    <result column="product_class_name" jdbcType="VARCHAR" property="productClassName" />
    <result column="leaving_time" jdbcType="TIMESTAMP" property="leavingTime" />
    <result column="update_user_id" jdbcType="INTEGER" property="updateUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, is_to_do, production_planning_id, production_line_id, custname, good_name, ordernum, 
    season, color, qty_plan, qty_finish, product_class_name, leaving_time, update_user_id, 
    create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ProductionPlanningDetail
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ProductionPlanningDetail
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="top.seiei.saasaps.bean.ProductionPlanningDetail">
    insert into ProductionPlanningDetail (id, is_to_do, production_planning_id, 
      production_line_id, custname, good_name, 
      ordernum, season, color, 
      qty_plan, qty_finish, product_class_name, 
      leaving_time, update_user_id, create_time, 
      update_time)
    values (#{id,jdbcType=INTEGER}, #{isToDo,jdbcType=BIT}, #{productionPlanningId,jdbcType=INTEGER}, 
      #{productionLineId,jdbcType=INTEGER}, #{custname,jdbcType=VARCHAR}, #{goodName,jdbcType=VARCHAR}, 
      #{ordernum,jdbcType=VARCHAR}, #{season,jdbcType=VARCHAR}, #{color,jdbcType=VARCHAR}, 
      #{qtyPlan,jdbcType=INTEGER}, #{qtyFinish,jdbcType=INTEGER}, #{productClassName,jdbcType=VARCHAR}, 
      #{leavingTime,jdbcType=TIMESTAMP}, #{updateUserId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="top.seiei.saasaps.bean.ProductionPlanningDetail">
    insert into ProductionPlanningDetail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="isToDo != null">
        is_to_do,
      </if>
      <if test="productionPlanningId != null">
        production_planning_id,
      </if>
      <if test="productionLineId != null">
        production_line_id,
      </if>
      <if test="custname != null">
        custname,
      </if>
      <if test="goodName != null">
        good_name,
      </if>
      <if test="ordernum != null">
        ordernum,
      </if>
      <if test="season != null">
        season,
      </if>
      <if test="color != null">
        color,
      </if>
      <if test="qtyPlan != null">
        qty_plan,
      </if>
      <if test="qtyFinish != null">
        qty_finish,
      </if>
      <if test="productClassName != null">
        product_class_name,
      </if>
      <if test="leavingTime != null">
        leaving_time,
      </if>
      <if test="updateUserId != null">
        update_user_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="isToDo != null">
        #{isToDo,jdbcType=BIT},
      </if>
      <if test="productionPlanningId != null">
        #{productionPlanningId,jdbcType=INTEGER},
      </if>
      <if test="productionLineId != null">
        #{productionLineId,jdbcType=INTEGER},
      </if>
      <if test="custname != null">
        #{custname,jdbcType=VARCHAR},
      </if>
      <if test="goodName != null">
        #{goodName,jdbcType=VARCHAR},
      </if>
      <if test="ordernum != null">
        #{ordernum,jdbcType=VARCHAR},
      </if>
      <if test="season != null">
        #{season,jdbcType=VARCHAR},
      </if>
      <if test="color != null">
        #{color,jdbcType=VARCHAR},
      </if>
      <if test="qtyPlan != null">
        #{qtyPlan,jdbcType=INTEGER},
      </if>
      <if test="qtyFinish != null">
        #{qtyFinish,jdbcType=INTEGER},
      </if>
      <if test="productClassName != null">
        #{productClassName,jdbcType=VARCHAR},
      </if>
      <if test="leavingTime != null">
        #{leavingTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null">
        #{updateUserId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="top.seiei.saasaps.bean.ProductionPlanningDetail">
    update ProductionPlanningDetail
    <set>
      <if test="isToDo != null">
        is_to_do = #{isToDo,jdbcType=BIT},
      </if>
      <if test="productionPlanningId != null">
        production_planning_id = #{productionPlanningId,jdbcType=INTEGER},
      </if>
      <if test="productionLineId != null">
        production_line_id = #{productionLineId,jdbcType=INTEGER},
      </if>
      <if test="custname != null">
        custname = #{custname,jdbcType=VARCHAR},
      </if>
      <if test="goodName != null">
        good_name = #{goodName,jdbcType=VARCHAR},
      </if>
      <if test="ordernum != null">
        ordernum = #{ordernum,jdbcType=VARCHAR},
      </if>
      <if test="season != null">
        season = #{season,jdbcType=VARCHAR},
      </if>
      <if test="color != null">
        color = #{color,jdbcType=VARCHAR},
      </if>
      <if test="qtyPlan != null">
        qty_plan = #{qtyPlan,jdbcType=INTEGER},
      </if>
      <if test="qtyFinish != null">
        qty_finish = #{qtyFinish,jdbcType=INTEGER},
      </if>
      <if test="productClassName != null">
        product_class_name = #{productClassName,jdbcType=VARCHAR},
      </if>
      <if test="leavingTime != null">
        leaving_time = #{leavingTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null">
        update_user_id = #{updateUserId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="top.seiei.saasaps.bean.ProductionPlanningDetail">
    update ProductionPlanningDetail
    set is_to_do = #{isToDo,jdbcType=BIT},
      production_planning_id = #{productionPlanningId,jdbcType=INTEGER},
      production_line_id = #{productionLineId,jdbcType=INTEGER},
      custname = #{custname,jdbcType=VARCHAR},
      good_name = #{goodName,jdbcType=VARCHAR},
      ordernum = #{ordernum,jdbcType=VARCHAR},
      season = #{season,jdbcType=VARCHAR},
      color = #{color,jdbcType=VARCHAR},
      qty_plan = #{qtyPlan,jdbcType=INTEGER},
      qty_finish = #{qtyFinish,jdbcType=INTEGER},
      product_class_name = #{productClassName,jdbcType=VARCHAR},
      leaving_time = #{leavingTime,jdbcType=TIMESTAMP},
      update_user_id = #{updateUserId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectAllToDo" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from
    productionplanningdetail
    where
    is_to_do = 0
  </select>
  <select id="selectByProductionPlanningId" resultMap="BaseResultMap" parameterType="integer">
    select
    <include refid="Base_Column_List"/>
    from
    productionplanningdetail
    where
    production_planning_id = #{id}
  </select>
</mapper>